.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #064856;
  padding:60px;
  font-size: 20px;
}

.upload-btn {
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
}

.result-btn {
  font-size: 18px;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  background-color: #25BAD8;
}

.percent {
  font-size:40px;
  color: #6BECF7;
}